nav.navbar.navbar-default {
    background-color: black;
    border-color: whitesmoke;
    margin-top: 10px;
    border-radius: 5px;
}

nav.navbar.navbar-default a {
    color: white;
}

li p.navbar-text, a.navbar-brand {
    color: white!important;
    font-weight: bolder;
}

footer.footer {
    background-color: black;
    border-color: whitesmoke;
    margin-top: 55px;
    color: white;
    border-radius: 5px;
}

footer.footer p {
    padding: 10px;
    color: white!important;
    font-weight: bolder;
    text-align: center;
}
